version: 2.1

references:
  default_container_config: &default_container_config
    docker:
      - image: cimg/node:20.7

  run_on_branches: &run_on_branches
    tags:
      ignore: /.*/

  run_on_semver_tags: &run_on_semver_tags
    tags:
      only: /^v\d+\.\d+\.\d+$/
    branches:
      ignore: /.*/

commands:
  install_deps:
    steps:
      - run:
          name: Install dependencies
          command: npm ci

  run_build:
    steps:
      - run:
          name: Build
          command: npm run build

  assert_artifacts_up_to_date:
    steps:
      - run:
          name: Fail if build produces file changes to artifacts
          command: |
            if [ -n "$(git status --porcelain)" ]; then
              echo "ERROR: spec and artifacts are out of sync. Please run build and commit."
              exit 1
            fi

  set_npm_auth_token:
    steps:
      - run:
          name: write auth token to .npmrc
          command: |
            echo "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}" > "${HOME}/.npmrc"

jobs:
  build-and-verify-artifacts:
    <<: *default_container_config
    steps:
      - checkout
      - install_deps
      - run_build
      - assert_artifacts_up_to_date

  publish-npm:
    <<: *default_container_config
    steps:
      - checkout
      - set_npm_auth_token
      - run:
          name: NPM publish
          command: ./scripts/circleci-publish.sh

workflows:
  verify_artifacts_in_sync:
    jobs:
      - build-and-verify-artifacts:
          filters: *run_on_branches

  publish_on_semver_tag:
    jobs:
      - build-and-verify-artifacts:
          filters: *run_on_semver_tags
      - publish-npm:
          context: npm-publish-token
          requires:
            - build-and-verify-artifacts
          filters: *run_on_semver_tags
