version: 2.1

references:
  default_container_config: &default_container_config
    docker:
      - image: cimg/node:20.7
commands:
  install_deps:
    steps:
      - run:
          name: Install dependencies
          command: npm ci

  run_build:
    steps:
      - run:
          name: Build
          command: npm run build

  assert_artifacts_up_to_date:
    steps:
      - run:
          name: Fail if build produces file changes to artifacts
          command: |
            if [ -n "$(git status --porcelain)" ]; then
              echo "ERROR: spec and artifacts are out of sync. Please run build and commit."
              exit 1
            fi

jobs:
  build-and-verify-artifacts:
    <<: *default_container_config
    steps:
      - checkout
      - install_deps
      - run_build
      - assert_artifacts_up_to_date

workflows:
  verify_artifacts_in_sync:
    jobs:
      - build-and-verify-artifacts
